<header class="container">
    <nav>
        <ul>
            <li><a href="{{ "/" | locale_url }}">{{ t[lang].home }}</a></li>
            <li><a href="{{ "/writing" | locale_url }}">{{ t[lang].writing  }}</a></li>
            <li><a href="{{ "/projects" | locale_url }}">{{ t[lang].projects  }}</a></li>
            <li><a href="{{ "/writing/my_work" | locale_url }}">{{ t[lang].services }}</a></li>
            <li>
                |
                {% assign links = page.url | locale_links %}
                {%- for link in links %}
                    <a href="{{ link.url }}">{{ link.lang | uppercase }}</a>
                {%- endfor -%}
            </li>
        </ul>
        </nav>
</header>
