<header class="container">
    <nav>
        <ul>
            <li><a href="{{ "/" | locale_url }}">{{ t[lang].home }}</a></li>
            <li><a href="{{ "/writing" | locale_url }}">{{ t[lang].writing  }}</a></li>
            <li><a href="{{ "/projects" | locale_url }}">{{ t[lang].projects  }}</a></li>
            <li><a href="{{ "/writing/my_work" | locale_url }}">{{ t[lang].services }}</a></li>
            <li>
                <select name="language" id="language-select" style="height: 2rem; padding-inline-start: 0.6em; padding-inline-end: 2rem;">
                    <option value="{{ page.url }}" selected>{{ page.lang | uppercase }}</option>
                    
                    {% assign links = page.url | locale_links %}
                    {%- for link in links %}
                        <option value="{{ link.url }}">{{ link.lang | uppercase }}</option>
                    {%- endfor -%}
                </select>
            </li>
        </ul>
        
            
</header>
