<header class="container">
    <nav>
        <ul>
            <li><a href="{{ "/" | locale_url }}">{{ t[lang].home }}</a></li>
            <li><a href="{{ "/writing" | locale_url }}">{{ t[lang].writing  }}</a></li>
            <li><a href="{{ "/projects" | locale_url }}">{{ t[lang].projects  }}</a></li>
            <li><a href="{{ "/writing/my_work" | locale_url }}">{{ t[lang].services }}</a></li>
            <li>
                <select name="language" id="language-select">
                    <option value="{{ page.url }}" selected>{{ page.lang | uppercase }}</option>
                    
                    {% assign links = page.url | locale_links %}
                    {%- for link in links %}
                        <option value="{{ link.url }}">{{ link.lang | uppercase }}</option>
                    {%- endfor -%}
                    </select>
                    <theme-select>
                        <select name="theme-select" id="theme-select">
                            <option value="system">{{t[lang].system}}</option>
                            <option value="light">{{t[lang].light}}</option>
                            <option value="dark">{{t[lang].dark}}</option>
                        </select>
                    </theme-select>
                </li>
            <li>
            </li>        
        </ul>
        
            
</header>
