<header class="container">
    <nav>
        <ul>
            <li><a href="{{ "/" | locale_url }}">{{ t[lang].home }}</a></li>
            <li><a href="{{ "/writing" | locale_url }}">{{ t[lang].writing  }}</a></li>
            <li><a href="{{ "/projects" | locale_url }}">{{ t[lang].projects  }}</a></li>
            <li><a href="{{ "/writing/my_work" | locale_url }}">{{ t[lang].services }}</a></li>
            {% comment %} <li>
                Language:
                   {% assign links = page.url | locale_links %}
                   {%- for link in links %}
                   {%- unless forloop.first %},{% endunless %}
                   <a href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{link.label}}</a>
                   {%- endfor -%}
            </li> {% endcomment %}
        </ul>
        
            
</header>
