<header class="container">
    <nav>
        <a href="{{ "/" | locale_url }}">Home</a>
        <ul>
            <li><a href="{{ "/writing" | locale_url }}">{{ t[lang].writing  }}</a></li>
            <li><a href="{{ "/projects" | locale_url }}">{{ t[lang].projects  }}</a></li>
            <li><a href="{{ "/writing/my_work" | locale_url }}">{{ t[lang].services }}</a></li>
        </ul>
        </nav>
</header>
