<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% include "theme-check.liquid" %}

    <!-- TODO Make a head template or something -->
    {% comment %} <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest"> {% endcomment %}

    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/about-me.css">
    <script type="module" src="/assets/js/theme-select.js"></script>
</head>

<body>
    <svg style="display: none;">
        <symbol id="icon-mail" viewBox="0 -960 960 960">
            <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280 320-200v-80L480-520 160-720v80l320 200Z" />
        </symbol>
        <symbol id="icon-linkedin" viewBox="0 0 1024 1024">
            <path d="M782.293333 782.464H668.586667v-178.218667c0-42.496-0.853333-97.194667-59.306667-97.194666-59.264 0-68.309333 46.250667-68.309333 94.08v181.333333h-113.749334V416h109.226667v49.92h1.493333c15.274667-28.757333 52.394667-59.178667 107.861334-59.178667 115.2 0 136.533333 75.861333 136.533333 174.549334v201.173333zM298.794667 365.866667a65.962667 65.962667 0 0 1-66.048-66.090667 66.048 66.048 0 1 1 66.005333 66.090667z m57.002666 416.597333H241.749333V416H355.84v366.464zM839.253333 128H184.704C153.301333 128 128 152.746667 128 183.338667v657.322666C128 871.253333 153.344 896 184.661333 896h654.421334C870.4 896 896 871.253333 896 840.661333V183.338667C896 152.746667 870.4 128 839.082667 128h0.128z" />
        </symbol>
        <symbol id="icon-github" viewBox="0 0 24 24">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0C5.37 0 0 5.37 0 12C0 17.31 3.435 21.795 8.205 23.385C8.805 23.49 9.03 23.13 9.03 22.815C9.03 22.53 9.015 21.585 9.015 20.58C6 21.135 5.22 19.845 4.98 19.17C4.845 18.825 4.26 17.76 3.75 17.475C3.33 17.25 2.73 16.695 3.735 16.68C4.68 16.665 5.355 17.55 5.58 17.91C6.66 19.725 8.385 19.215 9.075 18.9C9.18 18.12 9.495 17.595 9.84 17.295C7.17 16.995 4.38 15.96 4.38 11.37C4.38 10.065 4.845 8.985 5.61 8.145C5.49 7.845 5.07 6.615 5.73 4.965C5.73 4.965 6.735 4.65 9.03 6.195C9.99 5.925 11.01 5.79 12.03 5.79C13.05 5.79 14.07 5.925 15.03 6.195C17.325 4.635 18.33 4.965 18.33 4.965C18.99 6.615 18.57 7.845 18.45 8.145C19.215 8.985 19.68 10.05 19.68 11.37C19.68 15.975 16.875 16.995 14.205 17.295C14.64 17.67 15.015 18.39 15.015 19.515C15.015 21.12 15 22.41 15 22.815C15 23.13 15.225 23.505 15.825 23.385C18.2072 22.5808 20.2773 21.0498 21.7438 19.0074C23.2103 16.9651 23.9994 14.5143 24 12C24 5.37 18.63 0 12 0Z" />
        </symbol>
    </svg>
    
    {% include "header.liquid" %}

    <main class="container">
        <h1>{{ title }}</h1>
        <div class="profile-with-links">
            <img src="/assets/img/me.jpg" alt="Portrait of Milan Vlaški, the creator of this site">
            <nav>
                <a href="https://linkedin.com/in/milan-vlaski/" target="_blank">
                    <svg><use href="#icon-linkedin"></use></svg>
                </a>
                <a href="https://github.com/milanvlaski" target="_blank">
                    <svg><use href="#icon-github"></use></svg>
                </a>
                <a href="{{ "/contact" | locale_url }}">
                    <svg><use href="#icon-mail"></use></svg>
                </a>
            </nav>
        </div>
        {{ content }}
        <h2>{{ t[lang].contact.heading }}</h2>
        {% include "contact_form.liquid" %}
    </main>


    {% include "footer.liquid" %}

</body>

</html>
