<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% include "theme-check.liquid" %}

    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/project.css">
    <script type="module" src="/assets/js/theme-select.js"></script>
</head>

<body>

    {% include "header.liquid" %}

    <main class="container">
        <h1>{{ title }}</h1>
        <!-- TODO repetition -->
        <div class="links">
            {% if try_it %}
            <a href="{{ try_it }}" target="_blank">{{t[lang].try_it}}</a>
            {% endif %}
            {% if github_url %}
            <a href="{{ github_url }}" target="_blank">GitHub Repo</a>
            {% endif %}
        </div>
        {{ content }}
    </main>

    {% include "footer.liquid" %}
</body>

</html>
