<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% include "theme-check.liquid" %}

    <link rel="stylesheet" href="/assets/css/common.css">
    <script src="/assets/js/script.js"></script>
    <script type="module" src="/assets/js/theme-select.js"></script>
</head>

<body>

    {% include "header.liquid" %}
    
    <main class="container">
        <h1>{{ title }}</h1>

        {%- capture collectionKey -%}{{ lang }}_writing{%- endcapture -%}
        <ul>
            {% for post in collections[collectionKey] %}
                <li><a href="{{ post.url | locale_url }}">{{ post.data.title }}</a></li>
            {% endfor %}
        </ul>
    </main>

    {% include "footer.liquid" %}
</body>

</html>
